@import '../../Assets/Theme/theme';

//TODO: Use extensions and inheritance for section spacing

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

p {
  line-height: 1.9;
}

h3 {
  font-size: 2rem;
}

h6 {
  font-size: 1.1rem;
}

.btn-primary {
  background-color: #53CDFA;
  border-color: #53CDFA;
}

.futura-heading {
  color: #1F628F;
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.center-h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 1.4em;
}

.travels-image {
  width: auto;
  height: 60vh;
}

.text-highlight {
  background-color: #FFFFFF;
  padding: 2em;

  h5 {
    font-size: 1.1rem;
  }
  .futura-heading {
    color: #08708A;
    font-size: 1.2rem;
  }
}

.flex-div {
  display: flex;
}

.dreams-image {
  background-image: url('../../Assets/images/dreams.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 124%;
  width: auto;
  position: relative;
}

.story {
  background-color: #84A9C2;
}

.landing-section {
  padding: 10em 6em;

  .futura-heading {
    padding: 1em 0;
  }

}

.card-heading {
  padding-bottom: 0;
}

.offwhite {
  background-color: $offWhite;
}

.white {
  background-color: #FFFFFF;
}

.jumbotron {
  //background-color: white;
  border-radius: 0;
  width: 100vw;
  margin-bottom: 0;
}
.heroTop {
  background: url('../../Assets/images/hero2.png') no-repeat center;
  background-size: auto 100%;
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-position: 80% 20%;
  height: 100vh;
  margin-bottom: 0;
  margin-top: 3em;

  .heroTop-container {
    color: #FFF;
    text-align: center;
  }

  h4 {
    font-size: 3.5em;
    margin-top: 1.5em;
    margin-bottom: .5em;
  }

  h3 {
    font-size: 3em;
    margin-top: 1.5em;
    margin-bottom: .5em;
  }

  p {
    font-size: 1.4em;
  }
}

.main-points {
  h6 {
    color: $smoke;
    margin-bottom: 2em;
  }
  p {
    font-size: 1.1em;
  }
  .row {
    margin-bottom: $component-spacing;
  }
  .quoteLine {
    color: white;
    margin-left: -20px;
  }
  .icon {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    .fa {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      color: white;
      margin: 10px auto 0 auto;
      font-size: 4em;
      background-color: #1F628F;
      border-radius: 100%;
      padding: 20px;
    }
  }
}

.steps {
  padding-bottom: 0em;

  h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1.4em;
  }
}

.steps-row {
  h1 {
    color: $red;
    font-size: 7em;
  }
}

.charity-card-body {
  text-align: center;

  .card-title {
    font-size: 1.2em;
    padding-top: 1em;
  }

  p {
    font-size: 1.7em;
  }
}

.charity-amount {
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.quoteLine {
  text-align: center;
  padding: 1.5em;
  width: 100vw;
  color: white;
  font-size: 1.2em;
  margin-bottom: 0;

  h4 {

    font-size: 1.3em;
    margin: 0;
  }
}

//.card-desk {
//  margin: 0;
//}

.card-row {
  background-color: $offWhite;
  padding: $component-spacing 0;

  .justify-content-md-center {
    margin-bottom: 3em;
  }

  .card-deck {
    justify-content: center;

    .card {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      max-width: 400px;
      &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }

      .card-body {
        font-size: 1em;
        position: relative;
        top: -1.7em;

        .card-title {
          font-size: 1.5em;
          text-align: center;
          color: #84A9C2;
        }

        .btn-primary {
          background-color: #1F628F;
          border-color: #1F628F;
        }
      }

      .fa {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        color: white;
        margin: 10px auto 0 auto;
        font-size: 4em;
        background-color: #1F628F;
        border-radius: 100%;
        padding: 20px;
        position: relative;
        top: -.7em;
      }
      .card-button {
        //background-color: $blue;
        //border-color: $blue;
      }
    }
  }
}

.faq {
  background-color: #84A9C2;

  .card-header {
    color: #1F628F;
    font-family: futura-pt-bold, sans-serif;
    //font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
  }

  .card-body {
    font-family: 'Lato', sans-serif;
  }

  h1 {
    color: white;
  }
}

.data-driven,
.steps {
  padding-top: 6em;
  margin-bottom: 0;
}

.heading {
  margin-bottom: 1em;
}

.fiftyfifty {
  margin: $component-spacing 0;

  .fiftyImage,
  .container {
    width: 80%;
  }
}
.success {
  margin-bottom: 0;
  padding: $component-spacing 0;
}

.support {
  background-color: $blue;
  margin-bottom: 0;
  padding-top: 6em;

  .support-container  {
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 2em;
  }
}

.mountain {
  background-color: $blue;
  padding: 2em 0 6em;
  margin-top: 0;

    .container {
      padding: 0 4em;
      width: 100%;
      align-items: center;
      justify-content: center
    }

  .text-container {
    padding: 0 4em 0 0;
  }

  .fiftyImage {
    width: 100%;
  }
}
.data {
  margin-bottom: 0;
  background-color: rgba(112, 112, 112, 0.96);

}

.data-2 {
  background-color: transparent;
}

.testimonials {
  justify-content: center;
  padding: $component-spacing 2em;

  .heading {
    display: block;
    font-size: 3em;
    margin: auto;
    text-align: center;
    padding-bottom: 2em;
    width: 100%
  }
  .testimonialCard {
    padding-top: 0;
  }
}

.testimonial-card {
  display: block;
  margin: auto;

  .card-title {
    font-size: 2em;
    text-align: center;
    padding-bottom: .5em;
  }

  p {
    font-size: 1.1em;
    text-align: center;
  }
}

.buy {
  .card-title {
    color: #84A9C2;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
  }
}

.application-button {
  display: block;
  margin: 2em auto;
  font-size: 1.5em;
  width: 11em;
  font-family: Lato, sans-serif;
}

.blockquote-footer {
  font-size: 1em;
  margin-bottom: 1em;
}

@media only screen and (max-width: 800px) {
  .travels-image {
    display: none;
  }

  .data-driven {
    .img-thumbnail {
      margin-top: 40px;
    }
  }
}