@import '../../Assets/Theme/theme';

//TODO: Use extensions and inheritance for section spacing

.jumbotron {
  background-color: white;
  border-radius: 0;
}
.heroTop {
  background-image: url('../../Assets/images/backlit.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 20%;
  height: 500px;

  .heroTop-container {
    color: #FFF;
    text-align: center;
  }

  h4 {
    font-size: 3.5em;
    margin-top: 1.5em;
  }
}

.quoteLine {
  text-align: center;
  padding: 1.5em;

  h4 {
    font-size: 1.3em;
    margin: 0;
  }
}

.card-desk {
  margin: 0;
}

.card-row {
  align-items: center;
  justify-content: center;
  padding: $component-spacing 0;
}

.card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding-top: 2em;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .fa {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: $blue;
    margin: 10px auto 0 auto;
    font-size: 4em;
    background-color: #FFF;
    border-radius: 100%;
    padding: 20px;
  }
}

.heading {
  margin-bottom: 1em;
}

.fiftyfifty {
  margin: $component-spacing 0;

  .fiftyImage,
  .container {
    width: 80%;
  }
}
.success {
  margin-bottom: 0;
  padding: $component-spacing 0;
}

.support {
  background-color: $blue;
  margin-bottom: 0;
  padding-top: 6em;

  .support-container  {
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 2em;
  }
}

.mountain {
  background-color: $blue;
  padding: 2em 0 6em;
  margin-top: 0;

    .container {
      padding: 0 4em;
      width: 100%;
      align-items: center;
      justify-content: center
    }

  .text-container {
    padding: 0 4em 0 0;
  }

  .fiftyImage {
    width: 100%;
  }
}
.data {
  margin-bottom: 0;
  background-color: rgba(112, 112, 112, 0.96);

}

.data-2 {
  background-color: transparent;
}

.testimonialCard {
  padding-top: 0;
}

.blockquote-footer {
  font-size: 1em;
  margin-bottom: 1em;
}
